<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<phpNet>
		<classLibrary>
			<add assembly="mscorlib" />
			<add url="bin/CSharpLibrary.dll" />
			<add url="bin/Lib.dll" />
			<add url="bin/Test-il.dll" />
			<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<!--<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /-->
			<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add assembly="PhpNetClassLibrary, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
			<add assembly="php_bcmath.mng, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="bcmath" />

		</classLibrary>
	</phpNet>
</configuration>
