Package: phalanger
Version: 3.0.0
Architecture: i386
Section: cli-mono
Priority: extra
Maintainer: Devsense <info@devsense.com>
Installed-Size: 4000
Pre-Depends: xmlstarlet
Depends: apache2, libapache2-mod-mono, mono-apache-server4, mono-runtime
Conflicts: phalanger
Replaces: phalanger
Description: PHP compiler for .NET/Mono
 Phalanger is an open-source PHP implementation introducing the PHP language into the family of compiled .NET languages. It provides PHP applications an execution environment that is fast and extremely compatible with the vast array of existing PHP code. Phalanger gives web-application developers the ability to benefit from both the ease-of-use and effectiveness of the PHP language and the power and richness of the .NET platform taking profit from the best from both sides. 
Homepage: http://www.php-compiler.net/
