<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<phpNet>
  <scriptLibrary>
    <add url="msa.dll" />
  </scriptLibrary>
  <classLibrary>
    <add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
    <add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom" />
    <add assembly="PhpNetPDO, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdo" />
    <add assembly="PhpNetPDOSQLite, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="sqlite" />
  </classLibrary>  
</phpNet>
</configuration>