<!-- Phalanger configuration iutf-8hine.config file. --> 

<configuration>

  <configSections>
    <!-- Add the following line to <configSections> element --> 
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
  </configSections>

  <!-- Adds a HttpHandler to process PHP files by Phalanger -->
  
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.php" type="PHP.Core.PageFactory, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
    </httpHandlers>
    </system.web>

  <!-- Adds a CodeDomProvider to use PHP as a language for ASP.NET code-behind -->
  
  <system.codedom>
    <compilers>
      <compiler 
         language="PHP" 
         extension=".php"
         type="PHP.Core.CodeDom.PhpCodeProvider, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"
         compilerOptions="" />
    </compilers>
  </system.codedom>

  <!-- Add the following element somewhere after the <configSections> element.
       Change the paths if necessary. -->

  <phpNet>
    
    <paths>
			<set name="DynamicWrappers" value="C:\Development\Phalanger\v3.0\Deployment\Dynamic"/>
			<set name="Libraries" value="C:\Development\Phalanger\v3.0\Deployment\Bin"/>			
			<set name="ExtWrappers" value="C:\Development\Phalanger\v3.0\Deployment\Wrappers"/>
			<set name="ExtTypeDefs" value="C:\Development\Phalanger\v3.0\Deployment\TypeDefs"/>
			<set name="ExtNatives" value="C:\Development\Phalanger\v3.0\Deployment\Extensions"/>
    </paths>
    
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
      <add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom"/>
      <!--<add assembly="php_ftp.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="ftp" />
      <add assembly="php_image.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="image" />
      <add assembly="php_zlib.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib" />
      <add assembly="php_calendar.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="calendar" />-->
    </classLibrary>
    
  </phpNet>   

</configuration>	