<?xml version="1.0" encoding="UTF-8"?>

<!-- 

This file contains all possible configuration options processed by Phalanger and PHP native extensions.
The values stated here are the default ones. If you are creating a configuration for your application,
state only those options which differ from the default values.

Notes:
Some option nodes can have specified a "scope" attribute. This is a string having one of the values 
"Any", "Runtime", "Build". The default value is "Any" if the attribute is omitted.
A node with "Runtime" and "Build" scope is ignored if the configuration file is loaded by the command line 
compiler and PHP application, respectively. "Any" value makes the node valid in both cases. 
All nodes on which the scope attribute is applicable has this attribute stated in this prototypical file.

-->

<configuration>

  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  
	<!-- ASP.NET configuration -->
	<system.web>
		<!-- 
			Encoding of data sent from/to the client and encoding of the source files (.php, .aspx, .asax, .asmx). 
			
			The value should be one of the identifiers of the code-page supported by the system.
			These include e.g. values "Latin1", "Latin2", "Windows-1250" etc. Empty value means default system encoding. 
			
			Option has an application scope and cannot be changed in application sub-directories. 
			This setting is also recognized by the command line compiler (phpc) when precompiling a web application.
		-->
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="" />
	</system.web>

	<!-- Phalanger configuration -->
	<phpNet>
		<!-- 
			A list of libraries to load. Uncomment those which your application is using. 

			Use the following attribute to specify the library to add:
			  assembly="[name, version, culture, public key token]"
          
			Optional attribute (applicable only to Phalanger Class Library and Extensions):
			  section="[name of the configuration section for the library]"

			Recognized by the command line compiler (phpc).
		-->
		<classLibrary>

      <!-- Base Class Library -->
      <!-- add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" /-->

      <!-- optional CLR libraries -->
			<!--add assembly="mscorlib" /-->
			<!--add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /-->
			<!--add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /-->
			<!-- ... -->

			<!-- Bundled managed extensions -->
      <!--add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="xmldom"/-->
      <!--add assembly="PhpNetMsSql, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mssql"/-->
      <!--add assembly="PhpNetSQLite, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="sqlite"/-->
      <!--add assembly="PhpNetZip, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="zip"/-->
      <!--add assembly="PhpNetGd2, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="gd2" /-->
      <!--add assembly="PhpNetZlib, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="zlib" /-->
      <!--add assembly="PhpNetCurl, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="curl" /-->
      <!--add assembly="PhpNetXml, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="xml" /-->
      <!--add assembly="PhpNetIconv, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="iconv" /-->
      
      <!--add assembly="PhpNetPDO, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdo" /-->
      <!--add assembly="PhpNetPDOSQLite, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdosqlite" /-->
      <!--add assembly="PhpNetPDOSQLServer, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdosqlsrv" /-->

      <!-- Separately distributed or 3rd party managed extensions (see http://www.devsense.com/products/phalanger) -->
      <!--add assembly="PhpNetMySql, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mysql"/-->
      <!--add assembly="PhpNetPDOMySQL, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="pdomysql" /-->
      <!--add assembly="PhpNetMemcached, Version=3.0.0.0, Culture=neutral, PublicKeyToken=d4cd94916abb991b" section="memcached" /-->

      <!-- Native extensions that are parts of PHP (built-in) yet not parts of Phalanger -->
			<!--add assembly="php_bcmath.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="bcmath" /-->
			<!--add assembly="php_com.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="com" /-->
			<!--add assembly="php_image.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="image" /-->
			<!--add assembly="php_zlib.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib" /-->
			<!--add assembly="php_odbc.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="odbc" /-->
			<!--add assembly="php_ftp.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="ftp" /-->
			<!--add assembly="php_calendar.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="calendar" /-->

			<!-- Native extensions distributed with PHP -->
			<!--add assembly="php_bz2.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="bz2" /-->
			<!--add assembly="php_cpdf.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="cpdf" /-->
			<!--add assembly="php_crack.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="crack" /-->
			<!--add assembly="php_curl.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="curl" /-->
			<!--add assembly="php_db.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="db" /-->
			<!--add assembly="php_dba.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="dba" /-->
			<!--add assembly="php_dbase.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="dbase" /-->
			<!--add assembly="php_dbx.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="dbx" /-->
			<!--add assembly="php_domxml.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="domxml" /-->
			<!--add assembly="php_exif.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="exif" /-->
			<!--add assembly="php_fdf.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="fdf" /-->
			<!--add assembly="php_filepro.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="filepro" /-->
			<!--add assembly="php_gd2.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gd2" /-->
			<!--add assembly="php_gettext.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gettext" /-->
			<!--add assembly="php_hyperwave.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="hyperwave" /-->
			<!--add assembly="php_iconv.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="iconv" /-->
			<!--add assembly="php_ifx.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="ifx" /-->
			<!--add assembly="php_imap.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="imap" /-->
			<!--add assembly="php_interbase.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="interbase" /-->
			<!--add assembly="php_java.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="java" /-->
			<!--add assembly="php_ldap.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="ldap" /-->
			<!--add assembly="php_mbstring.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mbstring" /-->
			<!--add assembly="php_mcrypt.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mcrypt" /-->
			<!--add assembly="php_mhash.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mhash" /-->
			<!--add assembly="php_mime_magic.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mime-magic" /-->
			<!--add assembly="php_ming.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="ming" /-->
			<!--add assembly="php_msql.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="msql" /-->
			<!--add assembly="php_mysql.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="mysql-native" /-->
			<!--add assembly="php_oci8.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="oci8" /-->
			<!--add assembly="php_openssl.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="openssl" /-->
			<!--add assembly="php_oracle.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="oracle" /-->
			<!--add assembly="php_pdf.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="pdf" /-->
			<!--add assembly="php_pgsql.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="pgsql" /-->
			<!--add assembly="php_printer.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="printer" /-->
			<!--add assembly="php_pspell.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="pspell" /-->
			<!--add assembly="php_shmop.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="shmop" /-->
			<!--add assembly="php_snmp.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="snmp" /-->
			<!--add assembly="php_sockets.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="sockets" /-->
			<!--add assembly="php_sybase_ct.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="sybase-ct" /-->
			<!--add assembly="php_xml.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="xml" /-->
			<!--add assembly="php_xmlrpc.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="xmlrpc" /-->
			<!--add assembly="php_xslt.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="xslt" /-->
			<!--add assembly="php_yaz.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="yaz" /-->
			
			<!-- WinBinder native extension (http://www.hypervisual.com/winbinder) -->
			<!--add assembly="php_winbinder.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="winbinder" /-->

			<!-- PHP-GTK native extension (http://gtk.php.net) -->
			<!--add assembly="php_gtk.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gtk" /-->

			<!-- PECL native extensions (http://pecl.php.net) -->
			<!--add assembly="php_big_int.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="big_int" /-->
		</classLibrary>

    <!--
      A list of script libraries that will be referenced.
      Scripts from these assemblies behave as they would be on file system.
      Even static inclusions targetting scripts inside these DLLs work.
      
      Script libraries are created by compiling PHP scripts with target:dll in legacy mode. (phpc /target:dll recurse:ext out:bin/ext.dll)
      
      Use following XML tag to add script library reference:
        <add url="file.dll" />
        <add assembly="ext, Version=1.0.0.0" />
    -->
    <scriptLibrary>
      <!-- <add url="bin/ext.dll" /> -->
      <!-- <add assembly="ext, Version=1.0.0.0" /> -->
    </scriptLibrary>

    <!-- 
			Compiler options. All options have application scope and cannot be changed in application sub-directories. 
			Recognized by the command line compiler (phpc).
		-->
		<compiler>
			<!-- 
			Enables or disables language features. Makes it possible to adjust compatibility with various versions of PHP. 
	        
			  - ShortOpenTags:    Allows the <? tag. Otherwise, only <?php and <script> tags are recognized.
			  - AspTags:          Allows ASP-style <% %> tags.
			  - V5Keywords:       Enables PHP5 new keywords (such as public, private, protected, clone, etc.)
			  - TypeKeywords:     Upgrades bool, int, int64, string, double, resource and object identifiers to keywords so that they can be used for type hints etc.
			  - UnicodeSemantics: Switches on the Unicode semantics as defined by PHP6.
			  - ClrSemantics:     Allows to treat values of PHP types as CLR objects (e.g. $s = "string"; $s->GetHashCode()).
			  - Linq:             Enables Language Integrated Query (LINQ)
	        
			Aggregate features:
			  - Php4:             ShortOpenTags, AspTags
			  - Php5:             Php4, V5Keywords
			  - PhpClr:           Php5, UnicodeSemantics, TypeKeywords, Linq, ClrSemantics         
	          
			The default setting is Php5.
	        
			The feature can be added/removed from the list as indicated below by comments.
			-->
			<set name="LanguageFeatures">
				<!-- add value="ShortOpenTags" phpName="short_open_tag" /-->
				<!-- add value="AspTags" phpName="asp_tags" /-->
				<!-- add value="UnicodeSemantics" phpName="unicode.semantics" /-->
				<!-- add value="V5Keywords" /-->
				<!-- add value="V6Keywords" /-->
				<!-- add value="TypeKeywords" /-->
				<!-- add value="ClrSemantics" /-->
				<!-- add value="Linq" /-->
			</set>

			<!-- Whether to compile scripts in debug mode. Per-application configuration. -->
			<set name="Debug" value="true" />

			<!-- Enables or disables compiler to make inclusions static. -->
			<set name="EnableStaticInclusions" value="false" scope="Any" />

      <!-- Force dynamic inclusion of specified paths. Directories or single files can be specified. -->
      <set name="ForcedDynamicInclusionPaths">
        <!-- add value="path" / -->
        <!-- remove value="path" / -->
        <!-- clear / -->
      </set>
      
      <!-- 
				List of semicolon-separated directory paths where the compiler searches for statically evaluated inclusion 
				targets. Applied also on results of inclusion mappings. Note, paths are relative to the application source root 
				in contrast to dynamic inclusion paths defined by <file-system>/IncludePaths configuration option.
			-->
			<set name="StaticIncludePaths" value="." />

			<!-- 
				List of regular expression patterns and replacements used for evaluation of static inclusions. 
		          
				  <add pattern="" value="" name="" /> - adds named mapping, names needn't to be unique 
				  <add pattern="" value="" />         - adds anonymous mapping 
				  <remove name=""/>                   - removes previously added named pattern 
				  <clear/>                            - clears the list
		        
				Patterns are .NET regular expressions, values are .NET replacement strings (see Regex.Match method).
				Mappings are evaluated one by one as stated in the list.
        
        Use ${SourceRoot} in value attribute as a variable representing current application root (can be overriden by /root:).
			-->
			<set name="InclusionMappings" >
			</set>

      <!--
        Allows disabling of watching for file system changes.
        By disabling this option, modified scripts won't be recompiled.
      -->
      <set name="WatchSourceChanges" value="true" />

      <!--
        When included or requested file is not found in any precompiled assembly, the file is located
        on file system and compiled lazily (if this option is set to false).
        By enabling this option, script files won't be loaded from file system. Only scripts compiled
        into DLLs would be loaded, Phalanger won't look at file system and won't recompile any script
        when physical file is changed.
        Enabling this option also implies WatchSourceChanges to be disabled.
      -->
      <set name="OnlyPrecompiledCode" value="false" />

      <!-- 
				Prepends a specified file before each compiled script. The included script is executed once at 
				the beginning of request or application execution. File is searched on paths specified by 
				StaticIncludePaths option if a relative path is specified. 
			-->
			<set name="PrependFile" value="" phpName="auto_prepend_file" />

			<!-- 
				Appends a specified file after each compiled script. The included script is executed once at 
				the end of request or application execution. File is searched on paths specified by 
				StaticIncludePaths option if a relative path is specified. 
			-->
			<set name="AppendFile" value="" phpName="auto_append_file" />

			<!-- 
				Specifies warnings that the compiler suppresses from reporting.
		        
				A list of comma separated disabled warning numbers can be specified by the optional attribute "numbers".
		        
				Additionally, multiple warnings belonging to a distinguished group can be disabled by 
				adding the following tags:
		        
				  <add value=""/>    - disables warnings of a specified group
				  <remove value=""/> - enables warnings of a specified group
				  <clear/>           - enables all warnings
		        
				You can list following groups and subgroups. 
		        
				- DeferredToRuntime:   warnings related to the fact that some script was not included at runtime. 
				  - InclusionsMapping: warnings reported when inclusion mapping (option IncludedFilesMapping) fails
				- CompilerStrict:      unreachable code detected warning etc. 
				  - AmpModifiers:      issues regarding ampersand modifiers (references) - Phalanger doesn't support 
									   ampersands in function calls; it ignors them and reports warnings 
		      
			-->
			<set name="DisabledWarnings" numbers="" scope="Any" >
				<add value="DeferredToRuntime"/>
				<add value="CompilerStrict"/>
			</set>

			<!-- 
				Console and Windows applications only.
				A path to the directory presented as a root of source files compiled to the application assembly. 
				Web application's source root is always its virtual directory. 
			-->
			<!-- set name="SourceRoot" value="" /-->

		</compiler>

		<globalization>
			<!-- 
				Encoding used for converting source files to Unicode and for run-time binary data conversions.
				When compiling or running a web application, defaults to the value specified by 
				system.web/globalization/@fileEncoding attribute.
			-->
			<set name="PageEncoding" value="" />
		</globalization>

		<variables>
			<!-- Whether to emulate Zend Engine 1 behavior. Not supported anymore. -->
      <!-- set name="ZendEngineV1Compatible" value="false" phpName="zend.ze1_compatibility_mode" / -->

			<!-- Whether or not to register the EGPCS variables as global variables. -->
			<set name="RegisterGlobals" value="false" phpName="register_globals" />

			<!-- Whether or not to register the "argc" and "argv" variables as global variables. -->
			<set name="RegisterArgcArgv" value="false" phpName="register_argc_argv" />

			<!-- Whether or not to register the "HTTP_*_VARS" arrays as global variables. -->
			<set name="RegisterLongArrays" value="false" phpName="register_long_arrays" />

			<!-- User callback called on failed serialization. Can be empty. -->
			<set name="DeserializationCallback" value="" phpName="unserialize_callback_func" />

      <!--
        Always populate the $HTTP_RAW_POST_DATA containing the raw POST data (value="true").
        However, the preferred method for accessing the raw POST data is php://input.
        $HTTP_RAW_POST_DATA is not available with enctype="multipart/form-data".
      -->
      <set name="AlwaysPopulateRawPostData" value="true" phpName="always_populate_raw_post_data" />
      
			<!-- 
				This directive describes the order in which PHP.NET registers EGPCS variables.
				Registration is done from left to right. The value should be a permutation of the "EGPCS" string. 
			-->
			<set name="RegisteringOrder" value="EGPCS" phpName="variables_order"/>

			<!-- 
				For backwards compatibility only. Do not use if you can quote variables in code.
				Whether to quote GET/POST/Cookie variables' values when they are added to respective global arrays. 
			-->
			<set name="QuoteGpcVariables" value="false" phpName="magic_quotes_gpc" />

			<!-- 
				For backwards compatibility only. Do not use if you can quote variables in code.
				Whether to quote values returned from some PHP functions. 
			-->
			<set name="QuoteRuntimeVariables" value="false" phpName="magic_quotes_runtime" />

			<!-- 
				For backwards compatibility only. Do not use if you can quote variables in code.
				Whether to quote values in Sybase DB manner, i.e. using '' instead of \'. 
			-->
			<set name="QuoteInDbManner" value="false" phpName="magic_quotes_sybase" />
		</variables>

		<output-control>
			<!-- Whether to start output buffering on the beginning of each script execution. -->
			<set name="OutputBuffering" value="false" phpName="output_buffering" />

			<!-- A user function which will filter buffered output. -->
			<set name="OutputHandler" value="" phpName="output_handler" />

			<!-- Whether to send output to a client after a call of any function which generates output. -->
			<set name="ImplicitFlush" value="false" phpName="implicit_flush" />

			<!-- If the following values are non-empty the Content-Type header with that values will be added to each response -->
			<set name="ContentType" value="text/html" phpName="default_mimetype" />
			<set name="Charset" value="iso-8859-1" phpName="default_charset" />
		</output-control>

		<request-control>
			<!-- Timeout in seconds for each phase of user code execution. -->
			<set name="ExecutionTimeout" value="30" phpName="max_execution_time" />

			<!-- Whether not to terminate request on client disconnection. -->
			<set name="IgnoreUserAbort" value="true" phpName="ignore_user_abort" />
		</request-control>

		<error-control>
			<!-- 
				A set of error types that should be reported.
				Subtags are processes in the order they are stated in the list. Valid subtags are: 
		        
				  <add value=""/>    - enables reporting of the specified type
				  <remove value=""/> - disables reporting of the specified type
				  <clear/>           - disables all errors
		        
				Valid names include 
				  Error,Warning,Notice,Strict,UserError,UserWarning,UserNotice,ParseError,CompileError,CompileWarning
			-->
			<set name="ReportErrors" phpName="error_reporting">
				<add value="Error"/>
				<add value="Warning"/>
				<add value="Notice"/>
				<add value="Strict"/>
				<add value="UserError"/>
				<add value="UserWarning"/>
				<add value="UserNotice"/>
				<add value="ParseError"/>
				<add value="CompileError"/>
				<add value="CompileWarning"/>
			</set>

			<!-- User handler called on error. -->
			<set name="UserHandler" value="" />

			<!-- User exception handler called on exception. -->
			<set name="UserExceptionHandler" value="" />

			<!-- Print out errors as a part of the output. -->
			<set name="DisplayErrors" value="true" phpName="display_errors" />

			<!-- Whether error messages are reported in HTML format or plain text. -->
			<set name="HtmlMessages" value="true" phpName="html_errors" />

			<!-- URI specifying the root of PHP manual used in error messages. -->
			<set name="DocRefRoot" value="http://www.php.net/manual" phpName="docref_root" />

			<!-- An extension of PHP manual documents (should start with a dot character '.'). -->
			<set name="DocRefExtension" value=".php" phpName="docref_ext" />

			<!-- A file where to log errors if logging is enabled. Empty value disables error logging into a file. -->
			<set name="LogFile" value="" phpName="error_log" />

			<!-- Whether to log errors to the system event log if logging is enabled. -->
			<set name="SysLog" value="false" phpName="error_log" />

			<!-- Whether to log errors. -->
			<set name="EnableLogging" value="false" phpName="log_errors" />

			<!-- A string to be output before an error message. -->
			<set name="ErrorPrependString" value="" phpName="error_prepend_string" />

			<!-- A string to be output after an error message. -->
			<set name="ErrorAppendString" value="" phpName="error_append_string" />

			<!-- Whether to report errors regardless of the operator @. For debugging purposes. -->
			<set name="IgnoreAtOperator" value="false" />
		</error-control>

		<session-control>
			<!-- Sessions are only available for web applications. -->

			<!-- Initialize session on request startup. -->
			<set name="AutoStart" value="false" phpName="session.auto_start" />

			<!-- 
				Session handler. Each library can register own handler. 
				The default one, "aspnet", is implemented in Phalanger Core. 
				The "files" handler is registered by the Phalanger Base Class Library and implements 
				standard PHP files backed sessions. 
			-->
			<set name="Handler" value="aspnet" phpName="session.save_handler" />

      <!--
        url_rewriter.tags specifies which HTML tags are rewritten to include session id
        if transparent sid support is enabled.
        Defaults to a=href,area=href,frame=src,input=src,form=fakeentry,fieldset=
      -->
      <set name="UrlRewriterTags" value="a=href,area=href,frame=src,input=src,form=,fieldset=" phpName="url_rewriter.tags" />
      
		</session-control>

		<assertion>
			<!-- Whether to evaluate assertions. -->
			<set name="Active" value="true" phpName="assert.active"/>

			<!-- Whether a warning should be reported on failed assertion. -->
			<set name="ReportWarning" value="true" phpName="assert.warning" />

			<!-- Whether to terminate script execution on failed assertion. -->
			<set name="Terminate" value="false" phpName="assert.bail" />

			<!-- Whether assertion evaluation should report errors (including parse errors). -->
			<set name="Quiet" value="" phpName="assert.quiet_eval"/>

			<!-- User callback called on failed assertion. Can be empty. -->
			<set name="Callback" value="" phpName="assert.callback" />
		</assertion>

		<safe-mode>
			<!-- Whether safe mode restrictions are enabled. -->
			<set name="Enabled" value="false" phpName="safe_mode" />

			<!-- A semicolon separated list of file path prefixes which can be accessed via file system functions. 
           An empty value means no restrictions are applied. -->
			<set name="AllowedPathPrefixes" value="" phpName="open_basedir" />

			<!-- 
				Restricts programs execution on those which image is contained in the specified directory.
				An empty value means no restrictions are applied. 
			-->
			<set name="ExecutionDirectory" value="" phpName="safe_mode_exec_dir" />
		</safe-mode>

		<posted-files>
			<!-- Whether to allow HTTP file uploads. -->
			<set name="Accept" value="true" phpName="file_uploads"/>

			<!-- Temporary directory where posted files will be stored. Empty value means system temp directory. -->
			<set name="TempPath" value="C:\Temp\PHP.NET\PostedFiles" phpName="upload_tmp_dir" />
		</posted-files>

		<file-system>
			<!-- Whether file names can be specified as URL (and thus allows to use streams). -->
			<set name="AllowUrlFopen" value="true" phpName="allow_url_fopen"/>

			<!-- Default timeout for socket based streams. -->
			<set name="DefaultSocketTimeout" value="60" phpName="default_socket_timeout" />

			<!-- A user agent to send when communicating as client over HTTP. -->
			<set name="UserAgent" value="" phpName="user_agent" />

			<!-- A password used when logging to FTP server as an anonymous client. -->
			<set name="AnonymousFtpPassword" value="" phpName="from" />

			<!-- 
				A default file open mode used when it is not specified in fopen() function explicitly. 
				You can specify either "b" for binary mode, "t" for text mode or empty value for no default value. 
			-->
			<set name="DefaultFileOpenMode" value="b" />

			<!-- A list of semicolon-separated directory paths where file system functions and dynamic inclusion 
           constructs will search for files. -->
			<set name="IncludePaths" value="." phpName="include_path" />
		</file-system>

		<bcl>
			<session>
				<!-- Sessions are only available for web applications. -->

				<!-- Set to "no-cache", "private" or "public" to determine HTTP caching aspects. -->
				<set name="CacheLimiter" value="no-cache" phpName="session.cache_limiter" />

				<!-- Document expires after n minutes. -->
				<set name="CacheExpire" value="180" phpName="session.cache_expire" />

				<!-- 
				  A name of serializer used for serializing session data when persisting them to files.
				  Each library can register new serializer(s). The Phalanger Base Class Library registers
				  "php" (the same serialization as in original PHP) and "dotnet" (.NET binary serialization) 
				  serializers. The default is "php" to ensure backwards compatibility. 
				-->
				<set name="Serializer" value="php" phpName="session.serialize_handler" />

				<!-- 
					A probability factor of invocation of old sessions collection. The probability of 
					collection is got by dividing the value with GcDivisor option value. 
				-->
				<set name="GcProbability" value="1" phpName="session.gc_probability" />

				<!-- A divisor for computing collection probability. -->
				<set name="GcDivisor" value="100" phpName="session.gc_divisor" />

				<!-- A maximal session lifetime in seconds. -->
				<set name="GcMaxLifetime" value="1440" phpName="session.gc_maxlifetime" />

				<!-- 
					A path to directory where session files are stored. The path is considered relativelly
					to the current working directory in the time when the file is opened. Empty value means
					the system temporary directory. Directory levels described in PHP manual are not supported. 
				-->
				<set name="SavePath" value="" phpName="session.save_path" />

				<!-- Session cookie properties. -->
				<set name="CookieLifetime" value="0" phpName="session.cookie_lifetime" />
				<set name="CookiePath" value="/" phpName="session.cookie_path" />
				<set name="CookieDomain" value="" phpName="session.cookie_domain" />
				<set name="CookieSecure" value="false" phpName="session.cookie_secure"/>
			</session>

			<mailer>
				<!-- SMTP server name used for sending e-mails. -->
				<set name="SmtpServer" value="localhost" phpName="SMTP" />

				<!-- SMTP server port used for sending e-mails. -->
				<set name="SmtpPort" value="25" phpName="smtp_port" />

				<!-- The default value of "From" header. -->
				<set name="DefaultFromHeader" value="phalanger@localhost.cz" phpName="sendmail_from" />
			</mailer>

			<date>
				<!-- Default latitude (used for calculating sunrise and sunset times). -->
				<set name="Latitude" value="31.7667" />

				<!-- Default longitude (used for calculating sunrise and sunset times). -->
				<set name="Longitude" value="35.2333" />

				<!-- Default longitude (used for calculating sunrise and sunset times). -->
				<set name="SunsetZenith" value="90.83" />

				<!-- Default longitude (used for calculating sunrise and sunset times). -->
				<set name="SunriseZenith" value="90.83" />

				<!-- Default timezone used by time-zone functions. -->
				<set name="TimeZone" value="" />
			</date>

			<highlighting>
				<!-- Background color. -->
				<set name="Background" value="white" phpName="highlight.bg" />

				<!-- String color. -->
				<set name="String" value="navy" phpName="highlight.string" />

				<!-- Comment color. -->
				<set name="Comment" value="green" phpName="highlight.comment" />

				<!-- Keyword color. -->
				<set name="Keyword" value="blue" phpName="highlight.keyword" />

				<!-- Outer html code color. -->
				<set name="Html" value="gray" phpName="highlight.html" />

				<!-- Default text color. -->
				<set name="Default" value="black" phpName="highlight.default" />

				<!-- Color of script tags. -->
				<set name="ScriptTags" value="red" />
			</highlighting>
		</bcl>

		<mssql>
			<!-- Use NT authentication when connecting to the server. -->
			<set name="NTAuthentication" value="false" phpName="mssql.secure_connection" />

			<!-- Time in seconds to wait for connection to the server. -->
			<set name="ConnectTimeout" value="5" phpName="mssql.connect_timeout" />

			<!-- Timeout in seconds for commands. Negative value or zero means no timeout. -->
			<set name="Timeout" value="60" phpName="mssql.timeout" />

			<!-- 
				Limit for the number of simoultaneous connections that the application can establish.
				Negative value means no limit.
			-->
			<set name="MaxConnections" value="-1" phpName="mssql.max_links" />
		</mssql>

		<com>
			<!-- 
				When this is turned on, PHP will be allowed to operate as a D-COM (Distributed 
				COM) client and will allow the PHP script to instantiate COM objects on a remote
				server. 
			-->
			<set name="com.allow_dcom" value="0" />

			<!-- 
				When this is turned on, PHP will attempt to register constants from the
				typelibrary of objects that it instantiates, if those objects implement the 
				interfaces required to obtain that information. The case sensitivity of the 
				constants it registers is controlled by the com.autoregister_casesensitive
				configuration directive. 
			-->
			<set name="com.autoregister_typelib" value="0" />

			<!-- 
				When this is turned on, any problems with loading a typelibrary during object 
				instantiation will be reported using the PHP error mechanism. The default is 
				off, which does not emit any indication if there was an error finding or loading 
				the type library. 
			-->
			<set name="com.autoregister_verbose" value="0" />

			<!-- 
				When this is turned on (the default), constants found in auto-loaded type 
				libraries will be registered case sensitively. See com_load_typelib() for more
				details. 
			-->
			<set name="com.autoregister_casesensitive" value="1" />

			<!-- 
				It controls the default character set code-page to use when passing strings to 
				and from COM objects. If set to an empty string, PHP will assume that you want 
				CP_ACP, which is the default system ANSI code page. 
			-->
			<set name="com.code_page" value="" />

			<!-- 
				When set, this should hold the path to a file that contains a list of 
				typelibraries that should be loaded on startup. Each line of the file will be 
				treated as the type library name and loaded as though you had called
				com_load_typelib(). The constants will be registered persistently, so that the
				library only needs to be loaded once. If a type library name ends with the string
				#cis or #case_insensitive, then the constants from that library will be registered
				case insensitively. 
			-->
			<set name="com.typelib_file" value="" />
		</com>

		<crack>
			<!-- 
			Modify the setting below to match the directory location of the cracklib
			dictionary files.  Include the base filename, but not the file extension. 
			-->
			<!-- set name="crack.default_dictionary" value="c:\php\lib\cracklib_dict" / -->
		</crack>

		<dbx>
			<!-- 
				Returned column names can be converted for compatibility reasons
				possible values for dbx.colnames_case are
				"unchanged" (default, if not set)
				"lowercase"
				"uppercase"
				The recommended default is either upper- or lowercase, but
				unchanged is currently set for backwards compatibility. 
			-->
			<set name="dbx.colnames_case" value="unchanged" />
		</dbx>

		<exif>
			<!-- 
				Exif UNICODE user comments are handled as UCS-2BE/UCS-2LE and JIS as JIS. 
				With mbstring support this will automatically be converted into the encoding
				given by corresponding encode setting. When empty mbstring.internal_encoding 
				is used. For the decode settings you can distinguish between motorola and 
				intel byte order. A decode setting cannot be empty. 
			-->
			<!-- set name="exif.encode_unicode" value="ISO-8859-15" / -->
			<!-- set name="exif.decode_unicode_motorola" value="UCS-2BE" / -->
			<!-- set name="exif.decode_unicode_intel" value="UCS-2LE" / -->
			<!-- set name="exif.encode_jis value="" / -->
			<!-- set name="exif.decode_jis_motorola" value="JIS" / -->
			<!-- set name="exif.decode_jis_intel" value="JIS" / -->
		</exif>

		<gtk>
			<set name="php-gtk.extensions" value="php_gtk_combobutton.dll, php_gtk_libglade.dll, php_gtk_scrollpane.dll, php_gtk_spaned.dll, php_gtk_sqpane.dll" />
		</gtk>

		<hyperwave>
			<set name="hwapi.allow_persistent" value="0" />
		</hyperwave>

    <iconv>
      <set name="iconv.input_encoding" value="Windows-1250" />
      <set name="iconv.output_encoding" value="Windows-1250" />
      <set name="iconv.internal_encoding" value="UTF-8" />
    </iconv>

    <ifx>
			<!-- Allow or prevent persistent links. -->
			<set name="ifx.allow_persistent" value="On" />
			<!-- Maximum number of persistent links. -1 means no limit. -->
			<set name="ifx.max_persistent" value="-1" />
			<!-- Maximum number of links (persistent + non-persistent). -1 means no limit. -->
			<set name="ifx.max_links" value="-1" />
			<!-- Default host for ifx_connect() (doesn't apply in safe mode). -->
			<set name="ifx.default_host" value="" />
			<!-- Default user for ifx_connect() (doesn't apply in safe mode). -->
			<set name="ifx.default_user" value="" />
			<!-- Default password for ifx_connect() (doesn't apply in safe mode). -->
			<set name="ifx.default_password" value="" />
			<!-- 
				If on, the contents of text and byte blobs are dumped to a file instead of
				keeping them in memory. 
			-->
			<set name="ifx.blobinfile" value="0" />
			<!-- If on, select statements return the contents of a text blob instead of its id. -->
			<set name="ifx.textasvarchar" value="0" />
			<!-- If on, select statements return the contents of a byte blob instead of its id. -->
			<set name="ifx.byteasvarchar" value="0" />
			<!-- 
				Trailing blanks are stripped from fixed-length char columns.  May help the
				life of Informix SE users. 
			-->
			<set name="ifx.charasvarchar" value="0" />
			<!-- 
				NULL's are returned as empty strings, unless this is set to 1.  In that case,
				NULL's are returned as string 'NULL'. 
			-->
			<set name="ifx.nullformat" value="0" />
		</ifx>

		<interbase>
			<set name="ibase.allow_persistent" value="1" />
			<set name="ibase.max_persistent" value="-1" />
			<set name="ibase.max_links" value="-1" />
			<set name="ibase.default_user" value="" />
			<set name="ibase.default_password" value="" />
			<set name="ibase.timestampformat" value="%m/%d/%Y%H:%M:%S" />
			<set name="ibase.dateformat" value="%m/%d/%Y" />
			<set name="ibase.timeformat" value="%H:%M:%S" />
		</interbase>

		<java>
			<set name="java.class.path" value="C:\Desktop\Deployment\Extensions\Debug\php_java.jar" />
			<set name="java.home" value="C:\J2SDK1.4.1_02" />
			<set name="java.library" value="C:\J2SDK1.4.1_02\jre\bin\client\jvm.dll" />
			<set name="java.library.path" value="C:\Desktop\Deployment\Extensions\Debug\" />
		</java>

		<ldap>
			<set name="ldap.max_links" value="-1" />
		</ldap>

		<mbstring>
			<!-- language for internal character representation. -->
			<!-- set name="mbstring.language" value="Japanese" / -->
			<!-- internal/script encoding.
				Some encoding cannot work as internal encoding.
				(e.g. SJIS, BIG5, ISO-2022-*) -->
			<!-- set name="mbstring.internal_encoding" value="EUC-JP" / -->
			<!-- http input encoding. -->
			<!-- set name=mbstring.http_input value="auto" / -->
			<!-- http output encoding. mb_output_handler must be
				registered as output buffer to function -->
			<!-- set name="mbstring.http_output" value="SJIS" / -->
			<!-- enable automatic encoding translation accoding to 
				mbstring.internal_encoding setting. Input chars are
				converted to internal encoding by setting this to On.
				Note: Do _not_ use automatic encoding translation for
				portable libs/applications. -->
			<!-- set name="mbstring.encoding_translation" value="Off" / -->
			<!-- automatic encoding detection order. -->
			<!-- set name="mbstring.detect_order" value="auto" / -->
			<!-- substitute_character used when character cannot be converted one from another -->
			<!-- set name="mbstring.substitute_character value="none" / -->
			<!-- overload(replace) single byte functions by mbstring functions.
				mail(), ereg(), etc are overloaded by mb_send_mail(), mb_ereg(),
				etc. Possible values are 0,1,2,4 or combination of them.
				For example, 7 for overload everything.
				0: No overload
				1: Overload mail() function
				2: Overload str*() functions
				4: Overload ereg*() functions -->
			<!-- set name="mbstring.func_overload" value="0" / -->
		</mbstring>

		<mcrypt>
			<set name="mcrypt.algorithms_dir" value="" />
			<set name="mcrypt.modes_dir" value="" />
		</mcrypt>

		<mime-magic>
			<set name="mime_magic.magicfile" value="C:\PHP\PHP5.0.0\extras\magic.mime" />
		</mime-magic>

		<msql>
			<!-- Allow or prevent persistent links. -->
			<set name="msql.allow_persistent" value="On" />
			<!-- Maximum number of persistent links. -1 means no limit. -->
			<set name="msql.max_persistent" value="-1" />
			<!-- Maximum number of links (persistent+non persistent). -1 means no limit. -->
			<set name="msql.max_links" value="-1" />
		</msql>

		<mssql-native>
			<!-- Allow or prevent persistent links. -->
			<set name="mssql.allow_persistent" value="On" />
			<!-- Maximum number of persistent links. -1 means no limit. -->
			<set name="mssql.max_persistent" value="-1" />
			<!-- Maximum number of links (persistent+non persistent). -1 means no limit. -->
			<set name="mssql.max_links" value="-1" />
			<!-- Minimum error severity to display. -->
			<set name="mssql.min_error_severity" value="10" />
			<!-- Minimum message severity to display. -->
			<set name="mssql.min_message_severity" value="10" />
			<!-- Compatability mode with old versions of PHP 3.0. -->
			<set name="mssql.compatability_mode" value="Off" />
			<!-- Valid range 0 - 2147483647. Default = 4096. -->
			<set name="mssql.textlimit" value="4096" />
			<!-- Valid range 0 - 2147483647. Default = 4096. -->
			<set name="mssql.textsize" value="4096" />
			<!-- Limits the number of records in each batch. 0 = all records in one batch. -->
			<set name="mssql.batchsize" value="0" />
			<!-- Use NT authentication when connecting to the server. -->
			<set name="mssql.secure_connection" value="Off" />
			<!-- Specify max number of processes. Default = 25. -->
			<set name="mssql.max_procs" value="25" />
		</mssql-native>

		<mysql-native>
			<!-- Allow or prevent persistent links. -->
			<set name="mysql.allow_persistent" value="On" />

			<!-- Maximum number of persistent links. -1 means no limit. -->
			<set name="mysql.max_persistent" value="-1" />

			<!-- Maximum number of links (persistent + non-persistent). -1 means no limit. -->
			<set name="mysql.max_links" value="-1" />

			<!-- 
				Default port number for mysql_connect(). If unset, mysql_connect() will use the $MYSQL_TCP_PORT or
				the mysql-tcp entry in /etc/services or the compile-time value defined MYSQL_PORT (in that order). 
			-->
			<set name="mysql.default_port" value="" />

			<!-- Default socket name for local MySQL connects. If empty, uses the built-in MySQL defaults. -->
			<set name="mysql.default_socket" value="" />

			<!-- Default host for mysql_connect() (doesn't apply in safe mode). -->
			<set name="mysql.default_host" value="" />

			<!-- Default user for mysql_connect() (doesn't apply in safe mode). -->
			<set name="mysql.default_user" value="" />

			<!-- Default password for mysql_connect(). -->
			<set name="mysql.default_password" value="" />

			<!-- Maximum time (in secondes) for connect timeout. -1 means no limit. -->
			<set name="mysql.connect_timeout" value="60" />

			<!-- 
				Trace mode. When trace_mode is active (=On), warnings for table/index scans and SQL-Erros will
				be displayed. 
			-->
			<set name="mysql.trace_mode" value="Off" />
		</mysql-native>

		<pgsql>
			<!-- Allow or prevent persistent links. -->
			<set name="pgsql.allow_persistent" value="On" />
			<!-- Detect broken persistent links always with pg_pconnect(). Need a little overhead. -->
			<set name="pgsql.auto_reset_persistent" value="Off" />
			<!-- Maximum number of persistent links. -1 means no limit. -->
			<set name="pgsql.max_persistent" value="-1" />
			<!-- Maximum number of links (persistent+non persistent). -1 means no limit. -->
			<set name="pgsql.max_links" value="-1" />
			<!-- Ignore PostgreSQL backends Notice message or not. -->
			<set name="pgsql.ignore_notice" value="0" />
			<!-- Log PostgreSQL backends Notice message or not. -->
			<set name="pgsql.log_notice" value="0" />
		</pgsql>

		<sockets>
			<!-- Use the system read() function instead of the php_read() wrapper. -->
			<set name="sockets.use_system_read" value="On" />
		</sockets>

		<sybase-ct>
			<!-- Allow or prevent persistent links. -->
			<set name="sybct.allow_persistent" value="On" />
			<!-- Maximum number of persistent links. -1 means no limit.-->
			<set name="sybct.max_persistent" value="-1" />
			<!-- Maximum number of links (persistent + non-persistent). -1 means no limit. -->
			<set name="sybct.max_links" value="-1" />
			<!-- Minimum server message severity to display. -->
			<set name="sybct.min_server_severity" value="10" />
			<!-- Minimum client message severity to display. -->
			<set name="sybct.min_client_severity" value="10" />
		</sybase-ct>

		<xmlrpc>
			<set name="xmlrpc_errors" value="0" />
			<set name="xmlrpc_error_number" value="0" />
		</xmlrpc>

		<yaz>
			<set name="yaz.max_links" value="100" />
			<set name="yaz.log_file" value="" />
		</yaz>

	</phpNet>

</configuration>
