<!DOCTYPE html PUBLIC
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
<title>Erreur Interne du Serveur</title>
<style type="text/css">
/*<![CDATA[*/
body {font-family:"Verdana";font-weight:normal;color:black;background-color:white;}
h1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }
h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
h3 {font-family:"Verdana";font-weight:bold;font-size:11pt}
p {font-family:"Verdana";font-weight:normal;color:black;font-size:9pt;margin-top: -5px}
.version {color: gray;font-size:8pt;border-top:1px solid #aaaaaa;}
/*]]>*/
</style>
</head>
<body>
<h1>Erreur Interne du Serveur</h1>
<h2>%%ErrorMessage%%</h2>
<p>
Une erreur interne s'est produite pendant que le serveur web traitait votre requête. 
Veuillez contacter l'<a href="mailto:%%ServerAdmin%%">administrateur</a> pour lui signaler le problème. 
</p>
<p>
Merci de votre compréhension.
</p>
<div class="version">
%%Time%% %%Version%%
</div>
</body>
</html>