<?xml version="1.0"?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="{name}" publicKeyToken="{publicKeyToken}" culture="{culture}" />
         <bindingRedirect oldVersion="{oldVersion}-{newVersion}" newVersion="{newVersion}"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>