<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <system.webServer>
    <handlers>
      <!-- (re-)register *.php HTTP handler -->
      <remove name="Phalanger" />
      <add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" defaultLanguage="c#" maxBatchGeneratedFileSize="10000" maxBatchSize="10000"></compilation>
    <httpRuntime maxRequestLength="2097151"></httpRuntime>
  </system.web>
  
  <phpNet>
    <compiler>
    </compiler>

    <error-control>
      <!-- Console style errors output (no HTML marks) -->
      <set name="HtmlMessages" phpName="html_errors" value="false" />
    </error-control>
    
  </phpNet>

</configuration>
