<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".phpt" mimeType="text/html" />
        </staticContent>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
	</system.web>

  <system.codedom>
    <compilers>
      <!-- <compiler language="php;phalanger" extension=".php" type="???, PhpNetCore" /> -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/optioninfer+" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>

  <phpNet>
		<classLibrary>
			<!--add assembly="php_gettext.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gettext" /-->
		</classLibrary>
    <error-control>
      <set name="HtmlMessages" value="false" phpName="html_errors" />
    </error-control>
	</phpNet>
  
</configuration>