<configuration>

  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  
  <system.web>
    <!-- Go to APPROOT/Trace.axd to see the trace results -->
    <trace enabled="true" requestLimit="40" pageOutput="false" />

    <authentication mode="Forms">
      <forms name="PHALANGERDEMO" loginUrl="Login.aspx" defaultUrl="Default.aspx">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin" />
          <user name="user" password="secret" />
        </credentials>
      </forms>
    </authentication>
    
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
</configuration>
