<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved.
This code is licensed under the Visual Studio SDK license terms.
THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF
ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY
IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR
PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.
-->

<!-- 
  Phalanger Visual Studio Integration 
  Language service, project type, and MSBuild support for PHP
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <?define VisualStudioRegistryRoot = "Software\Microsoft\VisualStudio\9.0" ?>
  <?include $(var.VariablesFile)?>

  <Fragment>
    <ComponentGroup Id="CompGroup_Integration">
      <ComponentRef Id="Comp_LanguageService" />
      <ComponentRef Id="Comp_Project" />
      <ComponentRef Id="Comp_SnippetsIndex" />
      <ComponentRef Id="Comp_Snippets" />
      <ComponentRef Id="Comp_MSBuild" />

      <ComponentRef Id="Comp_WebSiteProjectTemplates" />
      <ComponentRef Id="Comp_ItemTemplates" />
      <ComponentRef Id="Comp_WinProjectTemplates" />
      <ComponentRef Id="Comp_WebSiteItemTemplates" />
      <!--
      <ComponentRef Id="Comp_WebProjectTemplates" />
      -->
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="SystemFolder" Name="System32" />
      <Component Id="Comp_LanguageService" DiskId="1" Guid="$(var.Comp_LanguageService_Guid)">
        <File Id="File_Phalanger.LanguageService.dll" Name="LANGSVC.DLL" LongName="Phalanger.LanguageService.dll" Source="$(var.IntegrationBinPath)\" />
        <?include Phalanger.LanguageService.wxi ?>
      </Component>

      <Component Id="Comp_Project" DiskId="1" Guid="$(var.Comp_Project_Guid)">
        <File Id="File_PhalangerProject.dll" Name="PROJECT.DLL" LongName="PhalangerProject.dll" Source="$(var.IntegrationBinPath)\" />
        <?include PhalangerProject.wxi ?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Dir_SnippetsIndex">
      <Component Id="Comp_SnippetsIndex" DiskId="1" Guid="$(var.Comp_SnippetsIndex_Guid)">
        <File Id="File_SnippetsIndex" Name="SNIPIDX.XML" LongName="SnippetsIndex.xml" Source="$(var.SnippetsSources)\" />
        
        <Registry Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0\Languages\CodeExpansions\Phalanger" Value="{16b0638d-251a-4705-98d2-5251112c4139}" Type="string">
          <Registry Name="DisplayName" Value="131" Type="string" />
          <Registry Name="IndexPath" Value="[#File_SnippetsIndex]" Type="string" />
          <Registry Name="LangStringId" Value="php" Type="string" />
          <Registry Name="Package" Value="{2eea826f-071b-41b6-a133-743df69cad91}" Type="string" />
          <Registry Name="ShowRoots" Value="0" Type="integer" />

          <Registry Key="ForceCreateDirs" Name="Phalanger" Value="[Dir_Snippets];%MyDocs%\Code Snippets\Phalanger\My Code Snippets\" Type="string" />
          <Registry Key="Paths" Name="Phalanger" Value="[Dir_Snippets];%MyDocs%\Code Snippets\Phalanger\My Code Snippets\" Type="string" />
        </Registry>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Dir_Snippets" FileSource="$(var.SnippetsSources)\Snippets\">
      <Component Id="Comp_Snippets" DiskId="1" Guid="$(var.Comp_Snippets_Guid)">
        <File Id="File_SnippetClass" Name="CLASS.SNP" LongName="class.snippet" />
        <File Id="File_SnippetFor" Name="FOR.SNP" LongName="for.snippet" />
        <File Id="File_SnippetFun" Name="FUNCTION.SNP" LongName="function.snippet" />
        <File Id="File_SnippetIf" Name="IF.SNP" LongName="if.snippet" />
        <File Id="File_SnippetIfE" Name="IFE.SNP" LongName="ife.snippet" />
        <File Id="File_SnippetWhile" Name="WHILE.SNP" LongName="while.snippet" />
      </Component>
    </DirectoryRef>
<!--
    ClassLibrary.zip
    ConsoleApp.Std.zip
    ConsoleApp.zip
    Extension.zip
    WindowsApp.zip
    WinFormApp.zip
    
    WebApplication.zip
    -->
    <DirectoryRef Id="Dir_ProjectTemplatesRoot">
      
      <Directory Id="Dir_ProjectTemplates" Name="PHALAN" LongName="Phalanger" src="$(var.ProjectTemplatesZipPath)">
<!--
        <Directory Id="Dir_WebProjectTemplates" Name="Web" src="$(var.ProjectTemplatesZipPath)">
          <Component Id="Comp_WebProjectTemplates" DiskId="1" Guid="$(var.Comp_WebProjectTemplates_Guid)">
            <File Id="File_WebPrj_WebApplication.zip" Name="WEBAPPL.ZIP" LongName="WebApplication.zip" />
          </Component>
        </Directory>

        <Directory Id="Dir_WindowsProjectTemplates" Name="Windows" src="$(var.ProjectTemplatesZipPath)">
          ...
        </Directory>
-->        
        <Component Id="Comp_WinProjectTemplates" DiskId="1" Guid="$(var.Comp_WinProjectTemplates_Guid)">
          <File Id="File_ClassLibrary.zip" Name="CLASSLIB.ZIP" LongName="ClassLibrary.zip" />
          <File Id="File_ConsoleApp.zip" Name="CONSOLE.ZIP" LongName="ConsoleApp.zip" />
          <File Id="File_ConsoleAppStd.zip" Name="CONSSTD.ZIP" LongName="ConsoleApp.Std.zip" />
          <File Id="File_Extension.zip" Name="EXTENS.ZIP" LongName="Extension.zip" />
          <File Id="File_WindowsApp.zip" Name="WINAPP.ZIP" LongName="WindowsApp.zip" />
          <File Id="File_WinformApp.zip" Name="WINFORM.ZIP" LongName="WinformApp.zip" />
        </Component>
      </Directory>
      
      <Directory Id="Dir_WebSitePrjTemplates" Name="Web">
        <Directory Id="Dir_PhpWebSitePrjTemplates" Name="PHALAN" LongName="Phalanger" src="$(var.WebSiteTemplatesZipPath)">
          <Component Id="Comp_WebSiteProjectTemplates" DiskId="1" Guid="$(var.Comp_WebSiteProjectTemplates_Guid)">
            <File Id="File_WebSitePHPWebSite.zip" Name="PHPWEBS.ZIP" LongName="PHPWebSite.zip" />
            <File Id="File_WebSitePHPEmptyWebSite.zip" Name="PHPEMPT.ZIP" LongName="PHPEmptyWebSite.zip" />
            <File Id="File_WebSitePHPClientWebSite.zip" Name="PHPCLIE.ZIP" LongName="PHPClientWebSite.zip" />
          </Component>
        </Directory>
      </Directory>

    </DirectoryRef>

    <DirectoryRef Id="Dir_ItemTemplatesRoot">
      
      <Directory Id="Dir_ItemTemplates" Name="PHALAN" LongName="Phalanger" src="$(var.ItemTemplatesZipPath)">
        <Component Id="Comp_ItemTemplates" DiskId="1" Guid="$(var.Comp_ItemTemplates_Guid)">
          <File Id="File_AppConfig.zip" Name="APPCONF.ZIP" LongName="AppConfig.zip" />
          <File Id="File_BrowserFile.zip" Name="BROWSERF.ZIP" LongName="BrowserFile.zip" />
          <File Id="File_Class.zip" Name="Class.zip" />
          <File Id="File_Component.zip" Name="COMPON.ZIP" LongName="Component.zip" />
          <File Id="File_ContentPage.zip" Name="CONTENTP.ZIP" LongName="ContentPage.zip" />
          <File Id="File_CustomControl.zip" Name="CUSTCONT.ZIP" LongName="CustomControl.zip" />
          <File Id="File_Form.zip" Name="Form.zip" />
          <File Id="File_GlobalAsax.zip" Name="GLBASAX.ZIP" LongName="GlobalAsax.zip" />
          <File Id="File_Handler.zip" Name="Handler.zip" />
          <File Id="File_HTMLPage.zip" Name="HTMLPage.zip" />
          <File Id="File_JScript.zip" Name="JScript.zip" />
          <File Id="File_MasterPage.zip" Name="MASERTPG.ZIP" LongName="MasterPage.zip" />
          <File Id="File_NestedWebConfig.zip" Name="NESTEDCN.ZIP" LongName="NestedWebConfig.zip" />
          <File Id="File_SiteMap.zip" Name="SiteMap.zip" />
          <File Id="File_SkinFile.zip" Name="SkinFile.zip" />
          <File Id="File_StyleSheet.zip" Name="STYLESH.ZIP" LongName="StyleSheet.zip" />
          <File Id="File_ResX.zip" Name="ResX.zip" />
          <File Id="File_Text.zip" Name="Text.zip" />
          <File Id="File_UserControl.zip" Name="USERCONT.ZIP" LongName="UserControl.zip" />
          
          <File Id="File_WebClass.zip" Name="WebClass.zip" />
          <File Id="File_WebConfig.zip" Name="WEBCONF.ZIP" LongName="WebConfig.zip" />
          <File Id="File_WebForm.zip" Name="WebForm.zip" />
          <File Id="File_WebHtmlPage.zip" Name="WEBHTML.ZIP" LongName="WebHtmlPage.zip" />
          <File Id="File_WebServiceItem.zip" Name="WEBSERV.ZIP" LongName="WebServiceItem.zip" />
          <File Id="File_WebUserControl.zip" Name="WEBUSCNT.ZIP" LongName="WebUserControl.zip" />
        </Component>
      </Directory>
      
      <Directory Id="Dir_WebSiteItemTemplates" Name="Web">
        <Directory Id="Dir_PhpWebSiteItemTemplates" Name="PHALAN" LongName="Phalanger" src="$(var.WebSiteTemplatesZipPath)">
          <Component Id="Comp_WebSiteItemTemplates" DiskId="1" Guid="$(var.Comp_WebSiteItemTemplates_Guid)">
            <File Id="File_WebSitePHPScript.zip" Name="PHPSCRP.ZIP" LongName="PHPScript.zip" />
            <File Id="File_WebSitePHPSilverlightControl.zip" Name="PHPSILV.ZIP" LongName="PHPSilverlightControl.zip" />
          </Component>
        </Directory>
      </Directory>
      
    </DirectoryRef>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="Dir_MSBuild" Name="MSBuild">
        <Directory Id="Dir_MSBuildPhalanger" Name="PHALAN" LongName="Phalanger">
          <Directory Id="Dir_MSBuildPhalanger20" Name="2.0">
            <Component Id="Comp_MSBuild" DiskId="1" Guid="$(var.Comp_MSBuild_Guid)">
              <File Id="File_Targets" Name="TARGETS" LongName="Phalanger.targets" src="..\MSBuildTasks\" />
              <File Id="File_Tasks" Name="TASKS" LongName="PHP.VisualStudio.PhalangerTasks.dll" src="$(var.IntegrationBinPath)\" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    
  </Fragment>
</Wix>