<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Phalanger Visual Studio Integration 
  Phalanger core runtime components (??)
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
<!--
    <ComponentGroup Id="CompGroup_PhalangerBinaries">
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Comp_IronPython" DiskId="1" Guid="595A23B9-B3D2-4363-AFA3-D13326B90093">
        <File Id="File_Phalanger.dll" Name="IRONPY.DLL" LongName="IronPython.dll" Source="..\..\..\Common\Assemblies\">
          <CopyFile Id="CopyIronPython" DestinationDirectory="Dir_MSBuildPhalanger10" />
        </File>
      </Component>

      <Component Id="Comp_IronMath" DiskId="1" Guid="42DD7103-6977-4C04-A3B6-9D2496F3C6E0">
        <File Id="File_IronMath.dll" Name="IronMath.dll" Source="..\..\..\Common\Assemblies\">
          <CopyFile Id="CopyIronMath" DestinationDirectory="Dir_MSBuildPhalanger10" />
        </File>
      </Component>
    </DirectoryRef>
-->
    </Fragment>
</Wix>