<?xml version="1.0" encoding="UTF-8"?>
<!--
  Visual Studio Integration for Phalanger
  Installer root features, upgrades, and product definition
-->

<?define ProductShortName = "Phalanger VS2008 SP1 Integration" ?>
<?define ProductVersion = "2.0.0" ?>
<?define ProductVersionText = "(January 2011)" ?>
<?define Manufacturer = "Phalanger Team" ?>
<?define VisualStudioRegistryRoot = "Software\Microsoft\VisualStudio\9.0" ?>
<?define UpgradeCode = "B673B2A8-9A48-4ee3-884B-0D0E1B98F0F0" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="????????-????-????-????-????????????" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="$(var.ProductLanguage)" Manufacturer="$(var.Manufacturer)">
    <Package Id="????????-????-????-????-????????????" Compressed="yes" Description="$(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)" Platforms="Intel" />
    <Media Id="1" Cabinet="VSIIP.cab" EmbedCab="yes" />

    <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Properties -->
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://php-compiler.net/" />
    <Property Id="ARPURLINFOABOUT" Value="http://php-compiler.net/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://php-compiler.net/" />
    <Property Id="DEVENV_DIR">
      <RegistrySearch Id="RegSearch_Devenv_Directory" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="EnvironmentDirectory" Type="raw" />
    </Property>
    <Property Id="VS_DIR">
      <RegistrySearch Id="RegSearch_VsInstall_Path" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="ProductDir" Type="raw" />
    </Property>
    <Property Id="DEVENV_EXE_PATH">
      <RegistrySearch Id="RegSearch_DevenvExe_Path" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="A later version of [ProductName] is already installed."> NOT NEWERVERSIONDETECTED </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2008."> DEVENV_EXE_PATH </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="VSIIP" LongName="Phalanger Visual Studio Integration">
          <Directory Id="Dir_SnippetsIndex" Name="CODESNIP" LongName="CodeSnippets">
            <Directory Id="Dir_Snippets" Name="Snippets" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS_DIR" Name="VSDir">
        <Directory Id="VS_Common7" Name="Common7">
          <Directory Id="DEVENV_DIR" Name="VSEnv">
            <Directory Id="Dir_ProjectTemplatesRoot" Name="PROJTMPL" LongName="ProjectTemplates" />
            <Directory Id="Dir_ItemTemplatesRoot" Name="ITEMTMPL" LongName="ItemTemplates" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Root feature -->
    <Feature Id="Feature_VSIIP" ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no" Display="hidden" Level="1" Title="Phalanger Integration">
      <!-- <ComponentGroupRef Id="CompGroup_PhalangerBinaries" /> -->
      <ComponentGroupRef Id="CompGroup_Integration" />
    </Feature>

    <!-- Custom actions -->
    <CustomAction Id="CA_DevenvSetup" Property="DEVENV_EXE_PATH" ExeCommand="/setup"  Impersonate="no" Execute="deferred" />

    <!-- Sequences -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
      <!-- Runs during both install and uninstall -->
      <Custom Action="CA_DevenvSetup" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <!-- Because we have a launch condition that uses the results of FindRelatedProducts, put it first. -->
      <LaunchConditions After="FindRelatedProducts" />
    </InstallUISequence>

    <!-- User interface -->
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>