<configuration>
  
  
  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  
	<phpNet>
		<classLibrary>
		</classLibrary>
    <!--
    Following section specifies which script libraries are referenced.
    Scripts from these assemblies behave as they would be on file system.
    Even static inclusions targetting scripts inside these DLLs work.
    -->
    <scriptLibrary>
      <add url="bin/ext.dll" />
      <!-- <add assembly="ext, Version=1.0.0.0" /> -->
    </scriptLibrary>
    
    <compiler>
      <!-- Enables or disables compiler to make inclusions static. -->
      <set name="EnableStaticInclusions" value="true" scope="Any" />
    </compiler>
	</phpNet>
</configuration>
